<h2>{{pageTitle}}</h2>
<div class="row">
    <div class="col-lg-8">
        <div class="well bs-component">
            <form name="courseForm" class="form-horizontal" novalidate>
                <fieldset>
                    <legend>Course Details</legend>
                    <div class="form-group required">
                        <label for="name" name="name" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="name" ng-model="course.name" required>
                            <show-message form-control="courseForm.name" field-label="Course name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            <textarea name="description" ng-model="course.description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="level" class="col-lg-2 control-label">Skill Level</label>
                        <div class="col-lg-10">
                            <select name="level" ng-model="course.level" class="form-control" required>
                                <option value="BEGINNER">Beginner</option>
                                <option value="INTERMEDIATE">Intermediate</option>
                                <option value="ADVANCED">Advanced</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prereqs" class="col-lg-2 control-label">Pre-reqs</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="course.prereqs" name="prereqs">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="endGoal" class="col-lg-2 control-label">End Goal</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" ng-model="course.endGoal" name="endGoal" required>
                            <show-message form-control="courseForm.endGoal" field-label="End Goal" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Type</label>
                        <div class="col-lg-10">
                            <div class="radio" ng-init="type=Free">
                                <label>
                                    <input type="radio" name="type" id="free" value="Free" ng-model="course.type">Free
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="type" id="paid" value="Paid" ng-model="course.type"> Paid
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fee" class="col-lg-2 control-label">Fee</label>
                        <div class="col-lg-10 input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" ng-model="course.fee" name="fee">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Topic Details <a class="btn btn-primary btn-xs" ng-click="addNewTopic()">Add</a></legend>
                    <div ng-repeat="topic in course.topics">
                        <ng-form name="innerForm">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Topic {{$index + 1}}
                                    <a class="btn btn-primary btn-xs" ng-click="removeTopic(topic)">Delete</a>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group required">
                                        <label for="name" class="col-lg-2 control-label">Name</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" ng-model="topic.name" required name="topicName">
                                            <show-message form-control="innerForm.topicName" field-label="Topic Name" />
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="name" class="col-lg-2 control-label">Duration</label>
                                        <div class="col-lg-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">Mins</span>
                                                <input type="text" class="form-control" ng-model="topic.duration" required name="duration">
                                            </div>
                                            <show-message form-control="innerForm.duration" field-label="Topic Duration" />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>
                </fieldset>
            </form>
            <button class="btn btn-primary" ng-click="saveCourse()" ng-disabled="courseForm.$invalid">Save</button>

        </div>
    </div>
</div>
